/** Global **/

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: #1b1b1b;
    text-align: left;
}

main {
    margin-left: 160px;
    font-size: 1.27rem;
    padding: 0px 10px;
    padding-bottom: 20px;
}

section {
    width: 60%;
    padding-bottom: 20px;
}

code {
    color: #56bddd;
}

p {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.40rem;
}

.lists h3 {
    padding-left: 30px;
}

.lists ul, .lists ol {
    margin-left: 40px;
}

/** Nav Bar **/

.side-nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #0e0e0e;
}

.nav-items a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.13rem;
    color: #818181;
    display: block;
}

.nav-items a:hover, .nav-items .active {
    color: #f1f1f1
}

/** Me **/

#MeProfessional {
    width: 500px;
    height: 334px;
}

/** Projects **/

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.project-item {
    min-width: 500px;
    min-height: 600px;
    background-color: #131313;
    box-shadow: 4px 4px 0 0 #ddda32;
    margin: 10px;
}

.project-item img {
    padding: 20px;
    width: 460px;
    height: 115px;
}

.project-item h2 {
    margin-top: -10px;
    text-align: center;
}

.project-item p, .project-item a {
    font-size: 1rem;
    max-width: 460px;
    max-height: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-item a {
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 1.13rem;
    color: #818181;
    display: block;
}

.project-item a:hover, .project-item .active {
    color: #f1f1f1
}

/** Media Queries **/

@media only screen and (max-width: 1200px) {
    section {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    html, body {
        font-size: 20px;
    }
    section {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    #projects {
        display: unset;
    }
    .project-item {
        min-width: unset;
        min-height: unset;
        width: 350px;
        margin-bottom: 20px;
    }
    .project-item img {
        width: 310px;
        height: 77.5px;
    }
}

@media only screen and (max-width: 700px) {
    #MeProfessional {
        width: 400px;
        height: 270px;
    }
}

@media only screen and (max-width: 650px) {
    html, body {
        font-size: 18px;
    }
    main {
        margin-left: 120px;
    }
    .side-nav {
        width: 120px;
    }
    .nav-items a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 580px) {
    #MeProfessional {
        width: 300px;
        height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .project-item {
        width: 300px;
    }
    .project-item img {
        width: 260px;
        height: 65px;
    }
}

@media only screen and (max-width: 480px) {
    html, body {
        font-size: 16px;
    }
    main {
        margin-left: 100px;
    }
    #MeProfessional {
        width: 250px;
        height: 166px;
    }
    .side-nav {
        width: 100px;
    }
    .nav-items a {
        font-size: 0.8rem;
    }
    .project-item {
        width: 225px;
    }
    .project-item img {
        width: 185px;
        height: 46.25px;
    }
}